
html, body {
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  width: 100%;
	height: 100vh;
	background: radial-gradient(farthest-side at 40% 50%, #21add0,#121599,#5d089b,#95033f,#8C6406);
  background-size: 400% 600%;
  animation: gradient-animation 60s ease-in-out infinite;
  text-align: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 10% 40%;
  }
  12% {
    background-position: 50% 80%;
  }
  24% {
    background-position: 80% 60%;
  }
  36% {
    background-position: 50% 20%;
  }
  48% {
    background-position: 30% 0%;
  }
  64% {
    background-position: 10% 80%;
  }
  76% {
    background-position: 100% 70%;
  }
  88% {
    background-position: 60% 30%;
  }
  100% {
    background-position: 10% 40%;
  }
}
